<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.marianavalentinamitroi.brasov">

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:hardwareAccelerated="false"
    android:largeHeap="true">
    <activity android:name=".activities.LoginActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".activities.RegisterActivity"
        android:screenOrientation="portrait" />

    <activity
        android:name=".activities.RestaurantActivity"
        android:parentActivityName=".activities.PresentationActivity"/>

    <activity
        android:name=".activities.TripsActivity"
        android:label="@string/category_trips"
        android:parentActivityName=".activities.PresentationActivity"/>

    <activity
        android:name=".activities.ToVisitActivity"
        android:label="@string/category_to_visit"
        android:parentActivityName=".activities.PresentationActivity"/>

    <activity
        android:name=".activities.DescriptionsActivity"
        android:parentActivityName=".activities.ToVisitActivity"/>

    <!-- Parent activity meta-data to support 4.0 and lower -->
    <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activities.PresentationActivity" />

    <activity
        android:name=".activities.PresentationActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar" />

    <activity
        android:name=".activities.ForgotPassword"
        android:screenOrientation="portrait" />

    <activity
        android:name=".activities.ConfirmPassword"
        android:screenOrientation="portrait" />
</application>

</manifest>